<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Android Regression Suite" parallel="true"
	thread-count="1">
	<listeners>
		<listener class-name="com.common.listners.TestNgListners" />
		<listener class-name="com.common.listners.AnnotationTransformer" />
	</listeners>
	<test name="BDD Test Suite" enabled="false">
		<classes>
			<class name="com.backend.executor.TestRunner"></class>
		</classes>
	</test>
	<test name="Java Test Suite" enabled="true">
		<classes>
			<class name="com.common.tests.Suite1"></class>
		</classes>
	</test>
</suite>
